* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --cor-fonte-subnav: #333333;
  --cor-borda-subnav: #0000001e;

  --cor-principal: #fff;
  --cor-secundaria: ##e36c10;
  --cor-terciaria: #103d63;

  --cor-fonte-titulo: #ec7200;
  --cor-fonte-background: #0b3455;
  --cor-fonte-titulo2: #6c6969;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

header {
  width: 100vw;
  z-index: 10;
  position: fixed;
  transition: all 0.3s ease-in-out;
}

.header-scrolled {
  animation: showSubNav 0.8s ease-in-out;
}

@keyframes showSubNav {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

nav {
  width: 100%;
}

.main-nav {
  list-style: none;
}

.sub-nav {
  width: 100%;
  display: flex;
  height: 4.4rem;
  font-size: 1.36rem;
  padding: 0 5rem;
  background-color: var(--cor-principal);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.sub-nav > li,
.main-nav-container-links > li {
  list-style: none;
}

.sub-nav > li > a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
}

.sub-nav > li:nth-child(2) {
  border-left: 0.1rem solid var(--cor-borda-subnav);
}

.sub-nav > li:last-child {
  background-color: #ec7200;
}

.sub-nav > li:last-child > a {
  color: #fff;
}

.sub-nav > li > a {
  text-decoration: none;
  color: var(--cor-fonte-subnav);
}

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  font-size: 1.6rem;
  padding: 0 5rem;
  background-color: var(--cor-terciaria);
  transition: all 0.3s ease-in-out;
}

#logo {
  width: 15.5rem;
  height: 5.6rem;
  transition: all 0.3s ease-in-out;
}

.main-nav-container-links {
  display: flex;
}

.main-nav-container-links > li > a {
  text-decoration: none;
  color: var(--cor-principal);
  display: flex;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
  height: 6rem;
  padding: 0 1rem;
  gap: 0.25rem;
  transition: all 0.3s ease-in-out;
}

.main-nav-container-links > li > a:hover {
  color: var(--cor-fonte-titulo);
}

.main-nav-container-links > li > a:hover > img {
  color: var(--cor-fonte-titulo);
}

.main-nav-container-links > li > a > img {
  width: 2rem;
}

#search {
  width: 2rem;
  font-weight: 900;
  cursor: pointer;
}

main {
  width: 100vw;
  padding-top: 10.4rem;
}

.container-main-img {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 65rem;
  position: relative;
}

.container-main-img > button {
  background: #000;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  margin: 0 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.container-main-img > button:hover {
  background: var(--cor-fonte-titulo);
}

.container-main-img > button:nth-child(2) {
  left: 0;
  padding-right: 0.1rem;
}

.container-main-img > button:nth-child(3) {
  right: 0;
  padding-left: 0.3rem;
}

.container-main-img > button > img {
  width: 2.25rem;
}

.container-main-img > img {
  transform: scale(1.3);
}

.container-galery-image {
  width: 100vw;
  margin: 6rem 0;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
}

.container-galery-image > figure {
  width: 63.6rem;
  height: 39.5rem;
}

.group-image {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  max-width: 70rem;
}

.container-galery-image > figure > img,
.group-image > figure > img {
  width: 100%;
  height: 100%;
  filter: brightness(0.4);
}

.container-galery-image > figure::after,
.group-image > figure::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  pointer-events: none;
  z-index: 0;
}

.group-image > figure {
  width: 31.5rem;
  height: 18.5rem;
}

.container-galery-image figure {
  position: relative;
}

.container-galery-image figure > figcaption a {
  text-decoration: none;
  color: var(--cor-principal);
}

.container-galery-image figure > figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  color: var(--cor-principal);
  font-weight: 600;
  display: flex;
  margin-bottom: 7.5rem;
  margin-left: 2.3rem;
  font-size: 1.6rem;
  max-width: 80%;
  z-index: 1;
  line-height: 2.4rem;
}

.container-galery-image figure figcaption:hover a {
  color: var(--cor-fonte-titulo);
}

.container-galery-image figure figcaption {
  cursor: pointer;
}

.container-galery-image figure,
.container-galery-image figure figcaption a {
  transition: all 0.3s ease-in-out;
}

.container-galery-image figure:hover {
  transform: translateY(-0.5rem);
}

section > figure:nth-child(1) > figcaption {
  font-size: 2.2rem;
}

.group-image > figure:nth-child(4) > figcaption {
  margin-bottom: 5.7rem;
}

.container-options {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.container-options > a > img {
  width: 41.6rem;
  height: 22rem;
  transition: all 0.45s ease-in-out;
}

.container-options > a > img:hover {
  transform: translateY(-0.5rem);
}

.container-events {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 4rem 0;
  margin-bottom: 10rem;
}

.container-events > img {
  width: 55rem;
  height: 56rem;
  object-fit: cover;
}

.container-events > div > h2 {
  max-width: 63rem;
  font-size: 5.6rem;
  line-height: 5rem;
  font-weight: 600;
  padding: 3rem 2rem;
  color: var(--cor-principal);
  background-color: var(--cor-fonte-background);
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin-top: 4rem;
  left: -8rem;
}

.container-events > div > button {
  color: var(--cor-principal);
  font-weight: bold;
  background-color: var(--cor-fonte-background);
  border: none;
  padding: 1.6rem 2rem;
  border-radius: 0.5rem;
  margin-top: 5rem;
  margin-left: 8rem;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.container-events > div > button:hover {
  color: var(--cor-fonte-titulo);
}

.container-choose {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor-fonte-background);
  padding: 5rem;
  padding-bottom: 6.5rem;
  gap: 1rem;
}

.container-choose > h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 5.6rem;
  color: var(--cor-principal);
}

.container-choose > p {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: var(--cor-principal);
  text-align: center;
  max-width: 72%;
}

.container-choose > div {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  margin-top: 2rem;
}

.container-choose > div > div {
  border: 0.1rem solid var(--cor-principal);
  max-width: 23%;
  padding: 2rem;
  padding-bottom: 7.5rem;
  border-radius: 0.5rem;
}

.container-choose > div > div > h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  color: var(--cor-fonte-titulo);
  text-align: center;
  margin-top: 2rem;
}

.container-choose > div > div > p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: var(--cor-principal);
  text-align: center;
  margin-top: 2rem;
}

.container-history {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 4.8rem;
}

.container-history > div:nth-child(1) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 38%;
  text-align: justify;
}

.container-history > div > h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 5.6rem;
  color: var(--cor-fonte-titulo2);
  margin-bottom: 6rem;
  text-align: center;
  padding-right: 6.5rem;
}

.container-history > div > p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}

.container-history > div:nth-child(2) {
  position: relative;
  width: 54.3rem;
  height: 63.7rem;
}

.container-history > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-history > div > button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-carousel {
  width: 100vw;
  height: 50rem;
  background-color: var(--cor-fonte-background);
}
