* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --cor-fonte-subnav: #333333;
  --cor-borda-subnav: #0000001e;

  --cor-principal: #fff;
  --cor-secundaria: ##e36c10;
  --cor-terciaria: #103d63;

  --cor-fonte-titulo: #ec7200;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

header {
  width: 100vw;
  z-index: 10;
}

nav {
  width: 100%;
}

.sub-nav {
  width: 100%;
  display: flex;
  height: 4.4rem;
  font-size: 1.36rem;
  padding: 0 5rem;
  background-color: var(--cor-principal);
}

.sub-nav > li,
.main-nav-container-links > li {
  list-style: none;
}

.sub-nav > li > a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
}

.sub-nav > li:nth-child(2) {
  border-left: 0.1rem solid var(--cor-borda-subnav);
}

.sub-nav > li:last-child {
  background-color: #ec7200;
}

.sub-nav > li:last-child > a {
  color: #fff;
}

.sub-nav > li > a {
  text-decoration: none;
  color: var(--cor-fonte-subnav);
}

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  font-size: 1.6rem;
  padding: 0 5rem;
  background-color: var(--cor-terciaria);
}

#logo {
  width: 15.5rem;
  height: 5.6rem;
}

.main-nav-container-links {
  display: flex;
}

.main-nav-container-links > li > a {
  text-decoration: none;
  color: var(--cor-principal);
  display: flex;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
  height: 6rem;
  padding: 0 1rem;
  gap: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.main-nav-container-links > li > a:hover {
  color: var(--cor-fonte-titulo);
}

.main-nav-container-links > li > a:hover > img {
  color: var(--cor-fonte-titulo);
}

.main-nav-container-links > li > a > img {
  width: 2rem;
}

#search {
  width: 2rem;
  font-weight: 900;
  cursor: pointer;
}

main {
  width: 100vw;
}

.container-main-img {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 65rem;
  position: relative;
}

.container-main-img > button {
  background: #000;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  margin: 0 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.container-main-img > button:hover {
  background: var(--cor-fonte-titulo);
}

.container-main-img > button:nth-child(2) {
  left: 0;
  padding-right: 0.1rem;
}

.container-main-img > button:nth-child(3) {
  right: 0;
  padding-left: 0.3rem;
}

.container-main-img > button > img {
  width: 2.25rem;
}

.container-main-img > img {
  transform: scale(1.3);
}

.container-galery-image {
  width: 100vw;
  margin: 6rem 0;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
}

.container-galery-image > figure {
  width: 63.6rem;
  height: 39.5rem;
}

.group-image {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  max-width: 70rem;
}

.container-galery-image > figure > img,
.group-image > figure > img {
  width: 100%;
  height: 100%;
  filter: brightness(0.4);
}

.container-galery-image > figure::after,
.group-image > figure::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  pointer-events: none;
  z-index: 0;
}

.group-image > figure {
  width: 31.5rem;
  height: 18.5rem;
}

figure {
  position: relative;
}

figure > figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  color: var(--cor-principal);
  font-weight: 600;
  display: flex;
  margin-bottom: 7.5rem;
  margin-left: 2.3rem;
  font-size: 1.6rem;
  max-width: 80%;
  z-index: 1;
  line-height: 2.4rem;
}

section > figure:nth-child(1) > figcaption {
  font-size: 2.2rem;
}

.group-image > figure:nth-child(4) > figcaption {
  margin-bottom: 5.7rem;
}
